# Created by .ignore support plugin (hsz.mobi)
## User files:


### Project template
## Directory-based project format:
.idea/
.cache/
.vscode/
.ropeproject/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:
# IntelliJ
out/
gen/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

## Environments:
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Linux template
# temporary files
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

### Windows template
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon
Icon

# Thumbnails
._*
